#boardGame {
    margin-left: 65px;
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(4,1.5fr);
    grid-template-rows: repeat(4, 1.5fr);
    align-items: center;
    justify-items: center;
    background-color: rgb(251, 106, 246);
}
.cards{
    background-color: rgb(236, 213, 12);
    width: 75px;
    height: 75px;
};
/* #boardGame{
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px)

};


.cardss {
    
    
    border-radius: solid white 10px;
    background-color: rgb(221, 139, 139);
    grid-template-columns: repeat(4, 5px);
    grid-template-rows: repeat(4, 5px);
}; */


